<div class="user-details">
  <h1>Christina Analytics</h1>
  <p>{{site.user_description}}</p>
</div>
<div class="tech">
  <h2>The History</h2>
  <p>
    The Christina Analytics were born as part of a larger library developed for a private hedge fund operating on crypto
    currencies since 2017. The quantitative research developed in the original work resulted in a number of charts and
    trading indicators that we decided to open to a wider audience of crypto-currency trader. The quantitative model
    uses a mixed approach taking advantage of big-data analytics and stochastic process modelling. While the number
    crunching is very compuatational intensive behaind the scenes, we created an interface to the Christina Analytics
    that makes the model available using plain internet API
  </p>
</div>

<div class="user">
  <div class="tech">
    <h2>Innovative</h2>
    <p>
      The first public model on the market that merges the power of machine learning and the flexibility of
      stochastic-process methods
    </p>
  </div>
  <div class="tech">
    <h2>Resilient</h2>
    <p>
      By adding tools for the management of risk and gains in a highly volatile market, we help the trader to reduce the
      level of stress consistently
    </p>
  </div>
  <div class="tech">
    <h2>Objective</h2>
    <p>
      Objective market indicators go beyond the human subjectivity. It relieves the trader from relying only on his own
      intuition in understanding the market behaviour
    </p>
  </div>
</div>

<div class="user">
  <div class="tech">
    <h2>Cloud</h2>
    <i class="devicon-amazonwebservices-original colored"></i>
    <i class="devicon-docker-plain colored"></i>
    <i class="devicon-postgresql-plain colored"></i>
    <p>
      We use cloud technology to deliver real-time scalable analytics. Delivering both an SaaS solution and on-site
      customizations
    </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-cplusplus-plain colored"></i>
    <p>
      The code is designed and developed using the agile-software paradigm, where test-driven development allows for
      faster software cycles
    </p>
  </div>
  <div class="tech">
    <h2>UX/UI</h2>
    <i class="devicon-nodejs-plain colored"></i>
    <i class="devicon-vuejs-plain colored"></i>
    <i class="devicon-typescript-plain colored"></i>
    <p>
      We care about the user experince interface and how to best interact. In our phylosophy the user needs always to be
      in control and understand the data
    </p>
  </div>
  <a class="down" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
