<div class="user-details">
  <h1>About Quant Island</h1>
  <p>{{site.user_description}}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Cloud</h2>
    <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <p>
      We use cloud technology to deliver real-time scalable analytics. Delivering both an SaaS solution and on-site
      customizations
    </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-visualstudio-plain-wordmark colored"></i>
    <i class="devicon-cplusplus-plain-wordmark colored"></i>
    <p>
      The code is design and developed using the agile-software paradigm, where test-driven development allows for
      faster software cycles
    </p>
  </div>
  <div class="tech">
    <h2>UX/UI</h2>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-vuejs-plain-wordmark colored"></i>
    <i class="devicon-typescript-plain colored"></i>
    <p>
      We care about the user experince interface and how to best interact. In our phylosophy the user needs always to be
      in control and understand the data
    </p>
  </div>
</div>
