<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Contact on LinkedIn" href="http://sg.linkedin.com/in/marchioro"
        ><i class="icon fa fa-linkedin"></i
      ></a>
      <a aria-label="My Twitter" target="_blank" href="https://twitter.com/marchioro_marco"
        ><i class="icon fa fa-twitter" aria-hidden="true"></i
      ></a>
      <a aria-label="My Telegram" target="_blank" href="#"><i class="icon fa fa-telegram" aria-hidden="true"></i></a>
      <a aria-label="Personal Website" target="_blank" href="https://www.marchioro.org/"
        ><i class="icon fa fa-address-card-o" aria-hidden="true"></i
      ></a>
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>Analytics</a>
      <a class="link" href="#projects" data-scroll>Charts</a>
      <a class="link" href="#quantisland" data-scroll>About</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
