<div class="user-details">
  <h1>Featured Charts</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Multi-period market trends" src="{{ "/assets/img/multi-period-market-trends.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents">
    <h3>Multi-period market trends</h3>
    <p>
      Identifies the current and historical trend on different time frames. The comparison of different trends allows
      the trader to implement his own strategy
    </p>
    <ul>
      <li>Each period is split into linear segments. The last segment determines the latest trend</li>
      <li>The model also indicates how long the trend has lasted so far</li>
      <li>For each trend a score is computed to help the trader in taking the investment decision</li>
    </ul>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Short-Term Risk/Gain Outlook" src="{{ "/assets/img/short-term-risk-gain-outlook.png" | prepend:
    site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Short-Term Risk/Gain Outlook</h3>
    <p>
      It provides a view on the current market situation by computing the expected distribution of short-term returns
    </p>
    <ul>
      <li>Shows the current volatility and the expected return</li>
      <li>Measures risk and potential earnings with a customizable confidence intervals</li>
      <li>
        Adapts to market conditions, the window size changes widening in relaxed markets and shorting in stressed ones
      </li>
    </ul>
  </div>
  <a class="down" href="#quantisland" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
