<div class="user-details">
  <h1 id="quantisland">Quant Island</h1>
</div>
<div class="tech">
  <p>
    Quant Island is a boutique Singapore company that specializes in creating quantitative analytics for Fintech
    companies. The company was founded in 2013 <a href="https://marchioro.org">by Marco Marchioro</a> with the vison to
    bring to Singapore and South East Asia sophisticated quantitative methods for finance. Currently Quant Island is
    offering its customers consulting services on the following topics:
  </p>

  <ul>
    <li>
      Crypto currencies and blockchain technologies
    </li>
    <li>
      Quantitative risk management
    </li>
    <li>
      Training in quantitative modelling
    </li>
    <li>
      Agile software development in quantitative finance
    </li>
    <li>
      Integration with [QuantLib](https://www.quantlib.org/), the open-source financial library.
    </li>
  </ul>

  <p>
    QuantIsland is registered with the
    <a href="https://www.acra.gov.sg/home/">Accounting and Corporate Regulatory Authority of Singapore (ACRA)</a>
    and is part of the
    <a href="https://directory.singaporefintech.org/directory/listing/quant-island">Singapore Fintech Association</a>.
  </p>
</div>
